body {
  background-color: rgb(42,42,42);
}
#editor {
  position: absolute;
  top: 30pt;
  right: 50%;
  bottom: 0;
  left: 0;
}
#toplevel {
  position: absolute;
  top: 30pt;
  right: 0;
  bottom: 0;
  left: 50%;
  background-color: black;
  color: white;
  overflow: auto;
}
#input {
  width: calc(100% - 2em);
  resize: none;
  border: 0 none;
  box-shadow: none;
  background-color: black;
  color: white;
  padding-top: 0;
  float: left;
}
#prompt {
  float: left;
  margin: 0;
}
#output {
  margin: 0;
}
#other {
  height: 100%;
}
#credit {
  font-size: x-small;
  position: absolute;
  bottom: 0;
  z-index: 42;
  background-color:rgba(255,255,255,0.5);
  opacity: .5;
}
#credit:hover {
  opacity: 1;
}
#credit a {
  font-size: x-small;
  text-decoration: underline;
  color: black;
}
